SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=jdbc:postgresql://db.zbjucuzwmfqiuiifhywi.supabase.co:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=SUA_SENHA_DO_SUPABASE
APP_CORS_ALLOWED_ORIGINS=https://seu-site.netlify.app